* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: snow;
}

body {
    background-color: #022F40;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
 }

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    color: #FF2E00;
    background-color: #989C94;
    cursor: pointer;
}
.box:hover {
    background-color: #3f403e;
}


#resetBtn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #918EF4;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#resetBtn:hover,#newBtn:hover{
    background-color: #0f0d34;
    color: white;
}

#newBtn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #918EF4;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#Winner {
    color: snow;
    margin: 1rem;
    font-size: 3rem;
}

.msgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vmin;
    transition: display 2s ease;
}

.newContainer {
    display: none;
}


